{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block container %}
   <div class="card-header">
        <i class="fas fa-table"></i>
        Form: {{ title }}
    </div>
    <div class="card-body">
        {% for message in messages %}
            <div class="alert alert-info" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        <a href="{% url 'hotelmanagement_namspace:clients' %}">Back</a>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
{% endblock %}