/* calendar booking */

#reveration-table{
	display: table;
	width: 100%;
	border-bottom: 1px solid red;
	z-index: 6;
}
.reveration-row{display: table-row; z-index: 9;}
.reveration-row .cell{display: table-cell;border: 1px solid red;border-bottom: none; z-index: 10;}
.reveration-row .cell:not(:last-child){
	border-right:none; 
}
.reveration-row .cell:first-child{
	width: 10%;
}
.reveration-row .cell-header{
	cursor: pointer;
}
.reveration-row .cell-contain:hover{
	background-color: #f9c9be36;
}

.reveration-mark-color{
	background-color: #f9c9be63;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }
#reveration-table .progressbar-booking{
	position: absolute;
    /* z-index: 11;
    background-color: green; */
    /* width: 100%; */
	display: contents;
	/* height: 21px; */
}

/* #reveration-table .progressbar-booking button{ */
#reveration-table button{
	height: 21px;
    font-size: 13px;
    z-index: 20;
    position: absolute;
	/* width: 100%; */
	color: #ffffff;
	margin-top: 1px;
	text-align: left;
}

#reveration-table2{
	overflow-x: scroll;
    overflow-y: hidden;
	white-space:nowrap;
	position: relative;
}

.pending-check-in{
	background-color: rgb(15, 143, 11);

}
.in-house{
	background-color: rgb(117, 115, 1);
}
.check-out{
	background-color: rgba(121, 81, 110);
}
#contextMenu a{
	cursor: pointer;
}

/* calendar booking */

/* front desk */
.front-desk{}
.front-desk .front-desk-group{}
.front-desk-group .front-desk-title{
	border-bottom: 1px solid red;
	margin: 5px 0px;
}
.front-desk-group .front-desk-title strong{}
.front-desk-group .front-desk-body{
    margin-right: 0px;
    margin-left: 0px;
}
.front-desk-group .front-desk-body .room{margin: 5px 0px;padding: 0px 5px;font-size: 13px;}
.room .room-containt{
	height: 92px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #8873a2;
	color: #fff;
	text-align: center;
	cursor: pointer;

}
.room .room-containt .room-number{
    border-bottom: 1px solid #fff;
    border-bottom-style: dashed;
    padding: 2px 0px;
    font-weight: bold;
}

.room .room-containt i{
    font-size: x-large;
	margin: 11px 0px;
}
.room .room-containt .room-status{font-size: small;}
.room-pending-check-out{
	background-color: #f73557;
}
.room-pending-check-in{
	background-color: #207aff;
}
.room-block{
	background-color: #fff;
	color: #000 !important;
}
.room .room-block .room-number{
    border-color: #000;
}
.room-occupied{
	background-color: #e9ad07;
}
.room-odirty{
	background-color: #2a2727;
}
.room-available{
	background-color: #3dc32f;
}
/* front desk */