<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="{% url 'hotelmanagement_namspace:report_pending_checkin' %}">
        <i class="fas fa-crow fa-fw"></i>
        <span class="badge badge-danger">{{ pennding_checkin }}</span>
    </a>
</li>
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="{% url 'hotelmanagement_namspace:report_pending_checkout' %}">
        <i class="fas fa-plane-departure fa-fw"></i>
        <span class="badge badge-danger">{{ pennding_checkout }}</span>
    </a>
</li>